.meal-picture{
    max-width: 1080px;
}

.specification{
    display: inline-block;
    margin: 40px;
}

.ingredient-display{
    display: inline-block;
}

.list-item{
    list-style: none;
}

.ingredient-picture{
    max-width: 70px;
    max-height: 50px;
}

.step-display{
    list-style: none;
    margin: 10px;
    text-align: left;
}

.step-description, .step-picture{
    display: inline-block;
}

.step-picture{
    max-width: 300px;
}