{% extends 'partials/main.html' %}
{% load static %}

{% block styles %}

{% endblock %}

{% block content %}
    {% if user.customer.user.is_authenticated %}
        <div class="row">
            <div class="col-lg-12">
                <div class="box-element">
                    <div class="box-details">
                        <h3>Your Manjorno Box includes {{  object.number_of_meals }} recipes for {{ object.meal_size }}
                            people.</h3>
                    </div>
                    <br>
                    Chosen meals:
                    <br>
                    <div class="cart-row">
                        {% for i in meal_quantity %}
                            <div style="flex:2"><strong>Meal {{ i }}</strong></div>
                        {% endfor %}
                    </div>
                    <div class="cart-row">
                        {% for chosen_meal in meals %}
                            <div class="col-lg-2">
                                {% if chosen_meal.recipe.meal_picture %}
                                    <img class="box-meal" src="{{ chosen_meal.recipe.meal_picture.url }}">
                                {% else %}
                                    <img class="box-meal" src="{% static 'images/img_placeholder.png' %}">
                                {% endif %}
                                <div class="box-element product">
                                    <h6><strong>{{ chosen_meal.recipe.name }}</strong></h6>
                                    <hr>
                                    <p>{{ chosen_meal.recipe.description }}</p>
                                    <button data-product={{ chosen_meal.recipe.id }} data-action="remove"
                                            class="btn btn-outline-danger update-cart">Remove
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}