{% extends 'partials/main.html' %}
{% load static %}


{% block content %}
    {% if user.customer.user.is_authenticated %}
        <div class="row">
            <div class="col-lg-12">
                <div class="box-element">
                    <div class="box-details">
                        <h3>Your Manjorno Box includes 5 recipes for 2 people.</h3>
                    </div>
                    <br>
                    Chosen meals:
                    <br>
                    <div class="cart-row">
                        <div style="flex:2"><strong>Meal 1</strong></div>
                        <div style="flex:2"><strong>Meal 2</strong></div>
                        <div style="flex:2"><strong>Meal 3</strong></div>
                        <div style="flex:2"><strong>Meal 4</strong></div>
                        <div style="flex:2"><strong>Meal 5</strong></div>
                    </div>
                    <div class="cart-row">
                        {% for chosen_meal in meals %}
                            <div class="col-lg-2">
                                {% if chosen_meal.recipe.meal_picture %}
                                    <img class="box-meal" src="{{ chosen_meal.recipe.meal_picture.url }}">
                                {% else %}
                                    <img class="box-meal" src="{% static 'images/img_placeholder.png' %}">
                                {% endif %}
                                <div class="box-element product">
                                    <h6><strong>{{ chosen_meal.recipe.name }}</strong></h6>
                                    <hr>
                                    <p>{{ chosen_meal.recipe.description }}</p>
                                    <button data-product={{ chosen_meal.recipe.id }} data-action="remove"
                                            class="btn btn-outline-danger update-cart">Remove
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        {% for meal in products %}
            <div class="col-lg-4">
                {% if meal.meal_picture %}
                    <img class="thumbnail" src="{{ meal.meal_picture.url }}">
                {% else %}
                    <img class="thumbnail" src="{% static 'images/img_placeholder.png' %}">
                {% endif %}
                <div class="box-element product">
                    <h6><strong>{{ meal.name }}</strong></h6>
                    <hr>
                    <p>{{ meal.description }}</p>
                    {% if user.customer.user.is_authenticated %}
                        <button data-product={{ meal.id }} data-action="add"
                                class="btn btn-outline-secondary add-btn update-cart">
                            {% if meal.id in meal_ids %}
                                Already in
                            {% else %}
                                Add to box
                            {% endif %}
                        </button>
                        <a class="btn btn-outline-success" href="#">View</a>
                    {% endif %}
                    <p style="margin-top: 30px"><strong>{{ meal.cooking_time }} min</strong></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}